@font-face {
  font-family: "Nunito";   
  src: local("Nunito"),
    url("./fonts/Nunito.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";   
  src: local("Roboto"),
    url("./fonts/Roboto.ttf") format("truetype");
}